---
- name: Copy files
  become: true
  copy:
    src: /root/project/artifact.tar.gz
    dest: /home/ubuntu/artifact.tar.gz
- name: Unarchive
  become: true
  shell : |
      cd /home/ubuntu/
      tar xvzf artifact.tar.gz -C .
- name: Write Envir
  become: true
  shell: |
    cd /home/ubuntu/
    echo 'NODE_ENV=production
    VERSION=1
    TYPEORM_CONNECTION="{{ lookup('env', 'TYPEORM_CONNECTION') }}"
    TYPEORM_MIGRATIONS_DIR=./src/migrations
    TYPEORM_ENTITIES=./src/modules/domain/**/*.entity.ts
    TYPEORM_MIGRATIONS=./src/migrations/*.ts
    TYPEORM_HOST="{{ lookup('env', 'TYPEORM_HOST') }}"
    TYPEORM_PORT="{{ lookup('env', 'TYPEORM_PORT') }}"
    TYPEORM_USERNAME="{{ lookup('env', 'TYPEORM_USERNAME') }}"
    TYPEORM_PASSWORD="{{ lookup('env', 'TYPEORM_PASSWORD') }}"
    TYPEORM_DATABASE="{{ lookup('env', 'TYPEORM_DATABASE') }}"' >> .env
- name: "run server"
  become: true
  shell : |
      cd /home/ubuntu/
      npm install
      pm2 stop default
      pm2 start npm --name "Backend app" -- start
      npm run start
  environment:
    ENVIRONMENT: production
    TYPEORM_CONNECTION: "{{ lookup('env', 'TYPEORM_CONNECTION') }}"
    TYPEORM_MIGRATIONS_DIR: "./migrations"
    TYPEORM_MIGRATIONS: "./migrations/*.js"
    TYPEORM_ENTITIES: "./modules/domain/**/*.entity.js"
    TYPEORM_HOST: "{{ lookup('env', 'TYPEORM_HOST') }}"
    TYPEORM_PORT: "{{ lookup('env', 'TYPEORM_PORT') }}"
    TYPEORM_USERNAME: "{{ lookup('env', 'TYPEORM_USERNAME') }}"
    TYPEORM_PASSWORD: "{{ lookup('env', 'TYPEORM_PASSWORD') }}"
    TYPEORM_DATABASE: "{{ lookup('env', 'TYPEORM_DATABASE') }}"